{% extends "base.html" %}
{% load static l10n i18n django_bootstrap5 %}

{% block bootstrap5_extra_head %}
{{ block.super }}
{{ form.media.css }}
<link rel="stylesheet" type="text/css" href="{% static "player/css/player.css" %}" />
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <form role="form" class="form-horizontal" method="post" novalidate>
            {% csrf_token %}
            {% bootstrap_form form %}
            <button class="btn btn-primary">
                <i class="far fa-check"></i>
            </button>
            <a href="{% url 'home' %}" class="btn btn-secondary">
                <i class="far fa-times"></i>
            </a>
        </form>
    </div>
</div>
{% endblock %}