.match-type {
    font-size: 2rem;
}

.player1, .player2 {
    background-color: #666666;
    color: white;
}

.player.active {
    background-color: firebrick;
}

.player-name {
    padding-top: 1.5rem;
    font-size: 1.5rem;
}

.player2 .player-name {
    text-align: right;
}

.score {
    font-size: 6rem;
}

@media (max-width: 767px) {
    .score {
        font-size: 4rem;
    }
    .player {
        min-height: 9rem;
    }
}

#id_score_pl1 {
    padding-right: 1rem;
}

#id_score_pl2 {
    padding-left: 1rem
}

.field-section {
    font-size: 1.5rem;
}

.field-section-1 {
    background-color: #eeeeee;
}

.field-section-1 .field:after {
    content: '.';
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -2px;
}

.field-section-2 {
    background-color: #dddddd;
}

.field-section-2 .field:after {
    content: '..';
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -4px;
}

.field-section-3 {
    background-color: #cccccc;
}

.field-section-3 .field:after {
    content: '...';
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -6px;
}

.field-container {
    position: relative;
    padding: 0 5px;
    min-height: 5rem;
}

.field {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 12px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
}

.field:active {
    background: darkgray;
}

.throws .throw {
    font-size: 1.2rem;
}

.throws-left .throw {
    padding-right: .5rem;
}

.throws-right .throw {
    text-align: right;
    padding-left: .5rem;
}

.buttons {
    padding: .5rem;
    background-color: lightgray;
}

.btn-lg {
    margin: 0 1rem;
    width: 10rem;
    height: 6rem;
}

.delete {
    color: red;
}

.hidden {
    display: none;
}

.old-score {
    color: #cccccc;
    text-decoration: line-through;
}

.old-score-left, .old-score-right {
    border-top: .5px solid #cccccc;
}

.throw-score {
    color: #cccccc;
}