.player1, .player2 {
    background-color: #666666;
    color: white;
}

.player.active {
    background-color: firebrick;
}

.player-name {
    padding-top: 1rem;
    font-size: 1.5rem;
}

.score {
    font-size: 6rem;
}

#id_score_pl1 {
    padding-right: 1rem;
}

#id_score_pl2 {
    padding-left: 1rem
}

.field-section {
}

.field-section-1 {
    background-color: #eeeeee;
}

.field-section-1 .field:after {
    content: '.';
    position: absolute;
    bottom: 10px;
    left: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    width: 1rem;
}

.field-section-2 {
    background-color: #dddddd;
}

.field-section-2 .field:after {
    content: '..';
    position: absolute;
    bottom: 10px;
    left: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    width: 1rem;
}

.field-section-3 {
    background-color: #cccccc;
}

.field-section-3 .field:after {
    content: '...';
    position: absolute;
    bottom: 10px;
    left: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    width: 1rem;
}

.field-container {
    position: relative;;
}

.field {
    border: 1px solid gray;
    border-radius: 5px;
    padding: .5rem;
    text-align: center;
    margin-top: .5rem;
    margin-bottom: .5rem;
    width: 2.5rem;
}

.field:active {
    background: darkgray;
}

.throws .throw {
    width: 2rem;
    font-size: 1.2rem;
}

.throws-left .throw {
    padding-right: .5rem;
}

.throws-right .throw {
    text-align: right;
    padding-left: .5rem;
}

.throws-right {
    padding-right: .5rem;
}

.buttons {
    padding: 1rem;
    background-color: lightgray;
}

.btn-lg {
    margin: 0 1rem;
    width: 8rem;
}

.delete {
    color: red;
}

.hidden {
    display: none;
}