{% extends "base.html" %}
{% load static l10n i18n django_bootstrap5 %}

{% block bootstrap5_extra_head %}
{{ block.super }}
{{ form.media.css }}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ttskch/select2-bootstrap4-theme@1.5.2/dist/select2-bootstrap4.min.css">
<link rel="stylesheet" type="text/css" href="{% static "player/css/league.css" %}" />
{% endblock %}

{% block bootstrap5_extra_script %}
{{ block.super }}
{{ form.media.js }}
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>
<script type="text/javascript">
$(document).ready(function() {

    $("#create-league").modalForm({
        formURL: "{% url 'player:league-create' %}",
        modalID: "#modal",
        errorClass: '.is-invalid'
    });

    $(".add-player").each(function () {
        $(this).modalForm({
            formURL: $(this).data('url'),
            modalID: "#modal",
            errorClass: '.is-invalid'
        });
  });

});
</script>
{% endblock %}

{% block content %}
<!-- Modal -->
<div class="modal fade" role="dialog" id="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>

<h2 class="text-center mt-3">{% trans 'Leagues' %}</h2>

<div class="row mt-3 row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-4 g-4">
{% for league in league_list %}
    <div class="col">
        <div class="card h-100">
            <div class="card-header">
                {{ league }}
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    {% for player in league.players.all %}
                    <li class="list-group-item">
                        {{ player }}
                    </li>
                    {% empty %}
                    <li class="list-group-item">
                        {% trans 'No player in this league' %}
                    </li>
                    {% endfor %}
                    <li class="list-group-item btn-bottom" style="padding: 5px;">
                        <a href="{% url 'player:create' league.id %}" class="btn btn-sm btn-success"
                           title="{% trans 'Add player' %}">
                            <i class="far fa-plus"></i>
                        </a>
                        <button class="btn btn-sm btn-secondary add-player"
                                title="{% trans 'Manage players' %}"
                                data-url="{% url 'player:add-to-league' league.id %}">
                            <i class="far fa-users"></i>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endfor %}
</div>

<div class="row mt-3">
    <div class="col">
        <button id="create-league" class="btn btn-success" title="{% trans 'Add league' %}">
            <i class="far fa-plus"></i>
        </button>
    </div>
</div>
{% endblock %}