{% load static l10n i18n django_bootstrap5 %}
<form role="form" class="form-horizontal" method="post" novalidate>
    {% csrf_token %}

    <div class="modal-header">
        <h5 class="modal-title">
            {% trans 'Manage players for league' %}: {{ league }}
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>

    <div class="modal-body">
        <div class="{% if form.non_field_errors %}is-invalid{% endif %}"></div>
        {% bootstrap_form form layout='floating' %}
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary">
            <i class="far fa-check"></i>
        </button>
        <button class="btn btn-secondary" data-bs-dismiss="modal" type="button" aria-label="Close">
            <i class="far fa-times"></i>
        </button>
    </div>
</form>
