{% extends "base.html" %}
{% load static l10n i18n django_bootstrap5 %}

{% block bootstrap5_extra_head %}
{{ block.super }}
{{ form.media.css }}
<link rel="stylesheet" type="text/css" href="{% static "player/css/league.css" %}" />
{% endblock %}

{% block page_title %}{% trans 'Leagues' %}{% endblock %}

{% block content %}
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-4 g-4">
{% for league in league_list %}
    <div class="col">
        <div class="card">
            <div class="card-header">
                {{ league }}
            </div>
            <ul class="list-group list-group-flush">
                {% for player in league.players.all %}
                <li class="list-group-item">
                    {{ player }}
                    <a href="" class="btn btn-sm btn-danger float-end" title="{% trans 'Remove player' %}">
                        <i class="far fa-minus"></i>
                    </a>
                </li>
                {% empty %}
                <li class="list-group-item">
                    {% trans 'Player is not in any league' %}
                </li>
                {% endfor %}
                <li class="list-group-item" style="padding: 5px;">
                    <a href="" class="btn btn-sm btn-success" title="{% trans 'Add player' %}">
                        <i class="far fa-plus"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
{% endfor %}
</div>
<div class="row mt-3">
    <div class="col">
        <a href="" class="btn btn-success" title="{% trans 'Add league' %}">
            <i class="far fa-plus"></i>
        </a>
    </div>
</div>
{% endblock %}