{% extends "base.html" %}
{% load static l10n i18n django_bootstrap5 %}

{% block bootstrap5_extra_head %}
{{ block.super }}
{{ form.media.css }}
<link rel="stylesheet" type="text/css" href="{% static "player/css/player.css" %}" />
{% endblock %}

{% block page_title %}<h2 class="text-center mt-3">{% trans 'Player' %}</h2>{% endblock %}

{% block content %}
<div class="row mt-3">
    <div class="col-md-6 offset-md-3 col-sm-12">
        <form role="form" class="form-horizontal" method="post" novalidate>
            {% csrf_token %}
            {% bootstrap_form form layout='floating' %}
            <button class="btn btn-primary" title="{% trans 'Save' %}">
                <i class="far fa-check"></i>
            </button>
            <a href="{% url 'home' %}" class="btn btn-secondary" title="{% trans 'Cancel' %}">
                <i class="far fa-times"></i>
            </a>
            <div class="float-end">
                <a href="{% url 'logout' %}" class="btn btn-secondary"
                   title="{% trans 'Logout' %}">
                    <i class="far fa-sign-out"></i>
                </a>
                <a href="{% url 'password_change' %}" class="btn btn-secondary"
                   title="{% trans 'Change password' %}">
                    <i class="far fa-key"></i>
                </a>
            </div>
        </form>
    </div>
</div>
<div class="row mt-3">
    <div class="col-md-6 offset-md-3 col-sm-12">
        <div class="card mt-2">
            <div class="card-header">
                {% trans 'Leagues' %}
            </div>
            <ul class="list-group list-group-flush">
                {% for league in player.leagues.all %}
                <li class="list-group-item">{{ league }}</li>
                {% empty %}
                <li class="list-group-item">{% trans 'Player is not in any league' %}</li>
                {% endfor %}
            </ul>
        </div>
        <a href="{% url 'player:league-list' %}" class="btn btn-secondary mt-3">
            <i class="far fa-pen"></i>
        </a>
        </div>
    </div>
</div>
{% endblock %}