{% extends "base.html" %}
{% load static l10n i18n django_bootstrap5 %}

{% block page_title %}
<h2 class="text-center mt-3">
    {% trans 'Welcome ' %} {{ request.user }}!
</h2>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        {% trans 'Start new game' %}
                    </h5>
                    <p class="card-text">
                        {% trans 'Create a new match in your desired game format.' %}
                    </p>
                    <a href="{% url 'match:create' %}" class="btn btn-success">
                        {% trans 'Play!' %}
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        {% trans 'User settings' %}
                    </h5>
                    <p class="card-text">
                        {% trans 'Edit user nickname, email and other attributes.' %}
                    </p>
                    <a href="{% url 'player:update' %}" class="btn btn-primary">
                        {% trans 'Edit user' %}
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        {% trans 'League Settings' %}
                    </h5>
                    <p class="card-text">
                        {% trans 'Manage Leagues and their players.' %}
                    </p>
                    <a href="{% url 'player:league-list' %}" class="btn btn-primary">
                        {% trans 'Edit leagues' %}
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}