.status-bar {
    background-color: lightgray;
    height: 4rem;
    padding: .4rem;
}

.img-avatar {
    border: none;
    border-radius: 50%;
    background-color: white;
}

.page_title {
    text-align: center;
}

.logo {
    margin-top: -8px;
    width: 60px;
}

.logo-large {
    width: 70vw;
}