.status-bar {
    background-color: lightgray;
    height: 4rem;
}

.img-avatar {
    margin-top: 7px;
    border: 1px solid #333;
    border-radius: 50%;
    background-color: white;
}

.page_title {
    text-align: center;
}