{% extends "base_narrow4.html" %}
{% load i18n static django_bootstrap5 %}

{% block page_title %}{% trans 'Password change' %}{% endblock %}

{% block narrow %}
<form method="post" novalidate>
    {% csrf_token %}

    {% if form.errors %}
        <p class="errornote">
            {% if form.errors.items|length == 1 %}
                {% trans "Please correct the error below." %}
            {% else %}
                {% trans "Please correct the errors below." %}
            {% endif %}
        </p>
    {% endif %}

    <p>
        {% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}
    </p>

    {% bootstrap_form form %}

    <button type="submit" class="btn btn-primary" value="{% trans 'Change my password' %}">
        <i class="far fa-check"></i>
        {% trans 'Change my password' %}
    </button>
    <a  href="{% url 'home' %}" class="btn btn-secondary" role="button">
        <i class="far fa-times"></i>
    </a>

</form>

{% endblock %}
