{% extends "base.html" %}
{% load static l10n i18n django_bootstrap5 %}

{% block content %}
<div class="row">
    {% for multiplier in multipliers %}
        <div class="col-md-4">
        {% for field_list in fields %}
            <div class="row">
            {% for field in field_list %}
                <div class="score-button" data-score="{% widthratio multiplier 1 field %}">{{ field }}</div>
            {% endfor %}
            </div>
        {% endfor %}
        </div>
    {% endfor %}
</div>
{% endblock %}