{% extends "base.html" %}
{% load static l10n i18n django_bootstrap5 %}

{% block bootstrap5_extra_head %}
{{ block.super }}
{{ form.media.css }}
<link rel="stylesheet" type="text/css" href="{% static "match/css/match.css" %}" />
{% endblock %}

{% block bootstrap5_extra_script %}
{{ block.super }}
<script>
function add_selection(field, players) {
    for (let player of players) {
        field.append($("<option></option>").attr("value", player.value).text(player.text))
    }
}

$(document).ready(function() {

    let league_id = $('#id_league').val();
    if (league_id) {
        $.get({
            url: `/player/get_players_for_league/${league_id}/`,
            success: function (players) {
                add_selection($('#id_player1'), players);
                add_selection($('#id_player2'), players);
            }
        });
    }

    $('#id_league').change(function() {
        let league_id = $(this).val();
        $.get({
            url: `/player/get_players_for_league/${league_id}/`,
            success: function (players) {
                add_selection($('#id_player1'), players);
                add_selection($('#id_player2'), players);
            }
        });

    });

});
</script>
{% endblock %}

{% block content %}
<div class="row mt-3">
    <div class="col-md-6 offset-md-3 col-sm-12">
        <h4>{% trans 'Resume match' %}</h4>
        <ul class="list-group list-group-flush">
            {% for match in unfinished %}
            <li class="list-group-item">
                <a href="{% url 'match:board' match.id %}">{{ match }}</a>
                <a href="{% url 'match:delete' match.id %}" class="delete float-end" title="{% trans 'Remove match' %}">
                    <i class="far fa-trash"></i>
                </a>
            </li>
            {% empty %}
            <li class="list-group-item">{% trans 'No unfinished matches' %}</li>
            {% endfor %}
        </ul>
    </div>
</div>

<div class="row mt-3">
    <div class="col-md-6 offset-md-3 col-sm-12">
        <h4>{% trans 'Start new match' %}</h4>
        <form role="form" class="form-horizontal" method="post" novalidate>
            {% csrf_token %}
            {% bootstrap_form_errors form %}
            {% bootstrap_field form.league %}
            <div class="row">
                <div class="col-4">
                    {% bootstrap_field form.best_of layout='floating' %}
                </div>
                <div class="col-4">
                    {% bootstrap_field form.typus layout='floating' %}
                </div>
                <div class="col-4">
                    {% bootstrap_field form.out layout='floating' %}
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    {% bootstrap_field form.player1 layout='floating' %}
                </div>
                <div class="col-6">
                    {% bootstrap_field form.player2 layout='floating' %}
                </div>
            </div>
            <button class="btn btn-primary">
                <i class="far fa-check"></i>
            </button>
            <a href="{% url 'home' %}" class="btn btn-secondary">
                <i class="far fa-times"></i>
            </a>
        </form>
    </div>
</div>
{% endblock %}