{% extends "board_base.html" %}
{% load static l10n i18n django_bootstrap5 %}

{% block bootstrap5_extra_head %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "match/css/match.css" %}" />
{% endblock %}

{% block bootstrap5_extra_script %}
{{ block.super }}
<script>let csrftoken = '{{ csrf_token }}';</script>
<script src="{% static 'match/js/board.js' %}"></script>
{% endblock %}

{% block page_title %}{% endblock %}

{% block content %}
<span class="hidden" id="match_id">{{ match.id }}</span>
<div class="row">
    <div class="col-6 col-xs-12 player player1 active">
        <div class="row">
            <div class="col-6">
                <div class="row">
                    <div id="{{ match.player1.id }}" class="col-12 d-flex justify-content-start player-name">
                        {{ match.player1 }}
                    </div>
                </div>
                <div class="row throws throws-left">
                    <div class="col-1 throw" id="dart-1"></div>
                    <div class="col-1 throw" id="dart-2"></div>
                    <div class="col-1 throw" id="dart-3"></div>
                </div>
            </div>
            <div class="col-6 d-flex justify-content-end">
                <span id="id_score_pl1" class="score">501</span>
            </div>
        </div>
    </div>
    <div class="col-6 col-xs-12 player player2">
        <div class="row">
            <div class="col-6">
                <span id="id_score_pl2" class="score">501</span>
            </div>
            <div class="col-6">
                <div class="row">
                    <div id="{{ match.player2.id }}" class="col-12 d-flex justify-content-end player-name">
                        {{ match.player2 }}
                    </div>
                </div>
                <div class="row d-flex justify-content-end throws throws-right">
                    <div class="col-1 throw" id="dart-1"></div>
                    <div class="col-1 throw" id="dart-2"></div>
                    <div class="col-1 throw" id="dart-3"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    {% for mult in multipliers %}
    <div class="col-lg-4 col-md-12 field-section field-section-{{ mult }}">
        {% for field in fields %}
            {% if forloop.first %}<div class="row row-col-5">{% endif %}
            <div class="col field-container">
                <div class="field" data-value="{{ field }}" data-multiplier="{{ mult }}">
                    {{ field }}
                </div>
            </div>
            {% if forloop.counter|divisibleby:5 %}</div><div class="row row-col-5">{% endif %}
            {% if forloop.last %}</div>{% endif %}
        {% endfor %}
    </div>
    {% endfor %}
</div>

<div class="row">
    <div class="col-12 buttons">
        <div class="row">
            <div class="col-6 d-flex justify-content-center">
                <button id="" class="btn btn-lg btn-light field" data-value="0" data-multiplier="0">
                    <i class="far fa-times"></i>
                </button>
                <button id="" class="btn btn-lg btn-light field" data-value="25" data-multiplier="1">
                    <i class="far fa-bullseye"></i> 25
                </button>
                <button id="" class="btn btn-lg btn-light field" data-value="50" data-multiplier="1">
                    <i class="far fa-bullseye-pointer"></i> 50
                </button>
            </div>
            <div class="col-6 d-flex justify-content-end">
                <button id="" class="btn btn-lg btn-danger">
                    <i class="far fa-backspace"></i>
                </button>
                <button id="next-player" class="btn btn-lg btn-success">
                    <i class="far fa-angle-double-right"></i>
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock %}