.status-bar {
    background-color: lightgray;
    height: 4rem;
    padding: .4rem;
}

.img-avatar {
    border: none;
    border-radius: 50%;
    background-color: white;
}

.small-img-avatar {
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 50%;
    background-color: white;
}

#avatar-player-1 {
    margin-right: 10px;
}

#avatar-player-2 {
    margin-left: 10px;
}

.page_title {
    text-align: center;
}

.logo {
    margin-top: -14px;
    width: 80px;
}

.logo-large {
    width: 70vw;
}

.card-header > h5 {
    margin: .5rem;
}

.card-body {
    padding-bottom: 4rem;
}

.btn-bottom {
    position: absolute;
    bottom: 1rem;
}